body {
    background-image: url("contact.png");
    background-repeat: no-repeat;
    background-size: cover
}

footer, h3 {
    font-size: xx-large;
    font: bold;
    Color: chocolate;
}

h1 {
    text-align: justify;
    font-size: large;
    font: bold;
    color: darkblue;
}

a {
    color: firebrick;
    font-size: x-large;
    font: bold;
}

h4 {
    Font-size: x-large;
    font: 800 bold;
    Color: chocolate;
}

h2 {
    text-align: center;
    font-size: x-large;
    font: bold;
    Color: darkred;
}
